.sidebar {
    width: 16vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 1);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    padding-bottom: 10rem;
}

.logo {
    
}

.menu {
    width: 80%;
}

.menu li {
    cursor: pointer;
    width: 100%;
    text-align: center;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.menu li:hover {
    background-color: #F1F5F9;
}
.logout {
    position: absolute;
    bottom: 3rem;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
