@import "tailwindcss";

@theme {
	--background-color-brand-b1: #fb923c;
	--background-color-brand-b2: #fbbf24;
	--background-color-brand-b3: #fcd34d;
	--background-color-brand-b4: #fde68a;
	--background-color-brand-bg: #f1f5f9;
	--background-color-brand-main: #ffd63a;

	--border-color-100: #334155;
	--border-color-200: #404040;
	--border-color-300: #94a3b8;

	--text-color-100: #94a3b8;
	--text-color-200: #64748b;

	--default-font-family: "Pretendard-Regular";
}

:root {
	--background: #ffffff;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: var(--font-pretendard), Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}
