@import "tailwindcss";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Pixelify+Sans:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--font-sans: 'PretendardVariable', Pretendard, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

* { 
	box-sizing: border-box; 
}

html,body {
	max-width: 100vw;
	overflow-x: hidden;
	padding: 0;
	margin: 0;
	font-family: var(--font-sans);
}

a {
	color: inherit;
	text-decoration: none;
}

@theme {
	--background-color-brand-b1: #fb923c;
	--background-color-brand-b2: #fbbf24;
	--background-color-brand-b3: #fcd34d;
	--background-color-brand-b4: #fde68a;
	--background-color-brand-bg: #f1f5f9;
	--background-color-brand-main: #ffd63a;

	--border-color-100: #334155;	
	--border-color-200: #404040;
	--border-color-300: #94a3b8;

	--text-color-100: #94a3b8;
	--text-color-200: #64748b;

	--font-roboto: 'Roboto', sans-serif;
}